@tailwind base;
@tailwind components;
@tailwind utilities;

@layer fonts {
	@font-face {
		font-family: 'Konstant Grotesk';
		font-style: normal;
		font-weight: 400;
		font-display: swap;
		src: url(/fonts/NeueKonstantGrotesk-Book.otf) format('opentype');
	}

	@font-face {
		font-family: 'Inter';
		font-style: normal;
		font-weight: 900;
		font-display: swap;
		src: url(/fonts/Inter-Black.ttf) format('truetype');
	}

	@font-face {
		font-family: 'Inter';
		font-style: normal;
		font-weight: 500;
		font-display: swap;
		src: url(/fonts/Inter-Medium.ttf) format('truetype');
	}
}

@layer base {
	:root {
		--color-orange: #d03b00;
		--color-yellow-100: #fef8ec;
		--color-yellow-200: #ffefd0;
		--color-orange-border: #f7cab8;
		--color-yellow-shadow: rgba(254, 248, 236, 0.5);

		--color-white: #ffffff;
		--color-dark-800: #1b1a1a;
		--color-dark-700: #3b3b3b;
		--color-dark-border: #606060;
		--color-dark-shadow: rgba(38, 38, 38, 0.5);

		--color-primary: var(--color-orange);
		--color-bg: var(--color-yellow-100);
		--color-bg-alt: var(--color-yellow-200);
		--color-border: var(--color-orange-border);
		--color-shadow: var(--color-yellow-shadow);

		--color-font: var(--color-orange);

		--transition-time: 0.5s ease-out;

		--font-title: 'Konstant Grotesk';
		--font-text: 'Inter';
	}

	:root[data-theme-dark] {
		--color-primary: var(--color-white);
		--color-bg: var(--color-dark-800);
		--color-bg-alt: var(--color-dark-700);
		--color-border: var(--color-dark-border);
		--color-font: var(--color-white);
		--color-shadow: var(--color-dark-shadow);
	}

	html {
		scroll-behavior: smooth;
	}

	body {
		color: var(--color-font);
		background-color: var(--color-bg);
		transition:
			color var(--transition-time),
			background-color var(--transition-time);

		overflow-x: hidden;
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
		min-height: 100vh;

		font-family:
			var(--font-text, 'Inter'),
			-apple-system,
			BlinkMacSystemFont,
			'Segoe UI',
			Roboto,
			Oxygen,
			Ubuntu,
			Cantarell,
			'Fira Sans',
			'Droid Sans',
			'Helvetica Neue',
			sans-serif;
	}

	body.menu-opened {
		overflow: hidden;
	}

	body::after {
		@apply fixed inset-0 w-full h-[100dvh] content-[''] opacity-0 invisible z-20 bg-shadow lg:hidden;
		transition:
			1s opacity 0.1s ease,
			1s backdrop-filter 0.1s ease;
	}
	body.menu-opened::after {
		@apply opacity-100 visible backdrop-blur-[4px];
	}

	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		font-family: var(--font-title, 'Konstant Grotesk');
	}

	p {
		font-weight: 500;
		font-size: 16px;

		strong,
		b {
			font-weight: 700;
		}

		a {
			text-decoration: underline;
		}
	}
}

.custom-transition {
	transition: all var(--transition-time);
}

.contentSection {
	@apply px-3 py-20 lg:px-12 lg:pr-0 lg:max-w-[40vw] lg:py-28;
}
