---
import { cn } from 'src/utils';

type Props = {
  text: string;
  variant?: 'normal' | 'outlined';
}

const { text = '', variant = 'normal' } = Astro.props;
---

<span class={cn(
  "block uppercase font-sans text-[10px] leading-[1.2] pt-1 px-1.5 bg-secondary-alt w-fit rounded-md custom-transition",
  variant==='outlined' && "outline outline-1 outline-primary outline-offset-[-1px]"
)}>
  {text}
</span>
