---
import Chip from "src/components/Chip.astro";

type Props = {
  chipText?: string;
  title?: string;
};

const {chipText = "", title = ""} = Astro.props;
---

<div class="flex flex-col gap-2">
  <Chip text={chipText} />
  <div class="flex flex-col gap-3">
    <h1 class="text-4xl">{title}</h1>
    <div>
      <slot name="description"/>
    </div>
  </div>
</div>
