---
import IconSend from "src/components/IconSend.astro";
import Input from "src/components/Input.astro";
import PageHeader from "src/components/PageHeader.astro";
import Textarea from "src/components/Textarea.astro";


const chipText = "LET’S BE IN TOUCH"
const pageTitle = "Contact"
const hcaptchaSiteKey = import.meta.env.PUBLIC_HCAPTCHA_SITE_KEY
---

<section id="contact" class="contentSection">
  <div class="flex flex-col gap-12">
    <PageHeader title={pageTitle} chipText={chipText}>
      <p slot="description">Feel free to get in touch with Michał Skorus for questions, collaborations, or new project ideas. Whether you're a client or fellow developer, I'm eager to connect and discuss how we can create innovative web solutions together.</p>
    </PageHeader>
    <form method="POST" action="/api/contact" class="flex flex-col gap-9" id="ContactForm">
      <Input id="fullname" label="FULLNAME" placeholder="John Doe" required autocomplete="name" />
      <Input type="email" id="email" label="EMAIL" placeholder="example@domain.com" required autocomplete="email"/>
      <Input id="topic" label="TOPIC" placeholder="E-commerce website" required autocomplete="off"/>
      <Textarea id="message" label="MESSAGE" placeholder="I am writing regarding a cooperation proposal..." required autocomplete="off"/>
      <div id="hcaptcha" class="h-captcha hidden" data-sitekey={hcaptchaSiteKey} data-callback="onContactSubmit" data-size="invisible"></div>
      <button type="submit" class="bg-secondary-alt flex gap-3 px-2 items-center w-fit rounded-[4px] hover:contrast-[0.96] disabled:opacity-50">
        <div class="pt-3 pb-1.5 uppercase text-primary font-sans">SEND</div>
        <div class="w-[24px] h-[24px] text-primary"><IconSend/></div>
      </button>
    </form>
  </div>
</section>

<script>
  import { showToast } from "../utils/toast";

  const initContactForm = () => {
    const contactFormElement = document.querySelector('#ContactForm');
    contactFormElement?.addEventListener('submit', async (event) => {
      event.preventDefault();
      window.hcaptcha.execute();
    });

    window.onContactSubmit = function (token: string) {
      const form = document.querySelector('#ContactForm') as HTMLFormElement;
      const formData = new FormData(form);
      formData.append('captcha', token);

      const submitButton = form.querySelector<HTMLButtonElement>('button[type="submit"]');
      let submitButtonContent: string | undefined;
      if(submitButton){
        submitButton.disabled = true;
        submitButtonContent = submitButton.innerHTML;
        submitButton.innerHTML = '<div class="pt-3 pb-1.5 uppercase text-primary font-sans">Sending...</div>';
      }


      (async () => {
        const response = await fetch(form.action, {
          method: form.method,
          body: formData,
        });
        if (response.ok) {
          form.reset();
          showToast({
            status: "success",
            title: "Thanks for reaching out!",
            description:"Expect a reply soon."
          });
        } else {
          showToast({
            status: "error",
            title: "Oops! Something went wrong.",
            description:"Please try again later."
          });
        }

        if(submitButton && submitButtonContent){
          submitButton.disabled = false;
          submitButton.innerHTML = submitButtonContent;
        }
      })();
    }
  }

  initContactForm();

</script>
