---
import PageHeader from "src/components/PageHeader.astro";

const chipText = "LET’S BE IN TOUCH"
const pageTitle = "Contact"
---

<section id="contact" class="contentSection">
  <PageHeader title={pageTitle} chipText={chipText}>
    <p slot="description">Feel free to reach out for any questions, collaboration opportunities, or to connect. I'm always excited to discuss new projects and ideas.</p>
  </PageHeader>
</section>
