---
import Chip from "src/components/Chip.astro";
import Logo from "../components/Logo.astro";

const chipText = "WEB DEVELOPER PORTFOLIO"
---

<section class="m-auto w-auto w-max-xl px-3 min-h-screen flex flex-col place-content-center gap-6">
  <div class="h-[23px] md:hidden">
    <Logo />
  </div>
  <div class="flex flex-col gap-2">
    <Chip text={chipText} />
    <div class="flex flex-col gap-3">
      <h1 class="text-4xl">Michal Skorus</h1>
      <p>Hi, I am Michał and I am passionate about programming eye-pleasing web apps. I develop web applications for both <strong>small businesses</strong> and large <strong>e-commerce platforms</strong>. I tailor the technology to the project’s requirements, ensuring optimal <strong>performance</strong>, <strong>SEO</strong>, and <strong>responsiveness</strong>.</p>
    </div>
  </div>
</section>
