---
import PageHeader from "src/components/PageHeader.astro";

const chipText = "SKILLS & KNOWLEDGE"
const pageTitle = "Known technologies"
---

<section id="technologies" class="contentSection">
  <PageHeader title={pageTitle} chipText={chipText}>
    <p slot="description">Quick overview of the various technologies I am proficient in, which enable me to create high-quality web applications tailored to meet diverse project requirements.</p>
  </PageHeader>
</section>
