---
import PageHeader from "src/components/PageHeader.astro";
import TechnologyLists from "src/components/TechnologyLists.astro";

const chipText = "SKILLS & KNOWLEDGE"
const pageTitle = "Known technologies"
const technologies = [
  {
    title: "LANGUAGES",
    items: ["JAVASCRIPT", "TYPESCRIPT", "PYTHON", "C++", "BASH"]
  },
  {
    title: "FRAMEWORKS",
    items: ["REACT", "SVELTE", "NEXT.JS", "REMIX", "VUE", "PREACT", "SOLID", "NUXT.JS"]
  },
  {
    title: "STYLING",
    items: ["SASS/SCSS", "TAILWINDCSS", "SHADCN/UI", "SHOPIFY POLARIS", "STYLED-COMPONENTS", "EMOTION", "MUI", "ANTDESIGN", "SEMANTIC UI"]
  },
  {
    title: "FRONTEND TOOLS",
    items: ["VITE.JS", "WEBPACK", "ESLINT", "PRETTIER", "NVM", "TURBOPACK", "ROLLUP.JS", "GULP.JS", "ESBUILD", "BABEL", "SWC", "POSTCSS", "GRAPHQL-CODEGEN", "PNPM", "NPM", "NGROK"]
  },
  {
    title: "DEVOPS",
    items: ["DOCKER", "GITLAB CI", "NGINX", "CADDY", "LET’S ENCRYPT", "GITHUB PAGES", "DIGITALOCEAN", "OVH", "VERCEL", "NETLIFY"]
  },
  {
    title: "TESTING",
    items: ["VITEST", "PLAYWRIGHT", "JEST", "CHAI"]
  },
  {
    title: "BACKEND",
    items: ["NODE.JS", "POSTGRESQL", "SQLITE", "PRISMA"]
  },
  {
    title: "OTHER",
    items: ["GIT", "GITLAB", "GITHUB", "REST API", "GRAPHQL"]
  },
]
---

<section id="technologies" class="contentSection">
  <div class="flex flex-col gap-12">
    <PageHeader title={pageTitle} chipText={chipText}>
      <p slot="description">Quick overview of the various technologies I am proficient in, which enable me to create high-quality web applications tailored to meet diverse project requirements.</p>
    </PageHeader>
    <TechnologyLists technologies={technologies}/>
  </div>
</section>
