---
import GoogleAnalytics from "src/components/GoogleAnalytics.astro";
import "../styles/index.css";
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<link rel="icon" type="image/x-icon" href="/favicon.ico" sizes="32x32"/>
    <meta name="theme-color" content="#262626" />
		<meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
		<title>Michał Skorus | Portfolio</title>
    <meta name="description" content="Discover Michał Skorus’ innovative projects and expert services in web development. Explore his portfolio and insightful articles to see how his expertise can elevate your business.">
    <script is:inline>
      var isDarkMode = function() {
        return localStorage.theme === 'dark' || (!('theme' in localStorage) && window.matchMedia('(prefers-color-scheme: dark)').matches);
      }
      var initTheme = function(){
        if (isDarkMode()) {
          document.documentElement.setAttribute('data-theme-dark', "")
        } else {
          document.documentElement.removeAttribute('data-theme-dark')
        }
      }
      initTheme();
    </script>
    {import.meta.env.PROD && (
      <GoogleAnalytics />
    )}
    <script src="https://js.hcaptcha.com/1/api.js" is:inline></script>
	</head>
	<body>
    <slot/>
	</body>
</html>
