---
import GoogleAnalytics from "src/components/GoogleAnalytics.astro";
import "../styles/index.css";
import HCaptcha from "src/components/HCaptcha.astro";
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="icon" type="image/x-icon" href="/favicon.ico">
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">
    <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#262626">
    <meta name="msapplication-TileColor" content="#FEF8EC">
    <meta name="theme-color" content="#262626" />
		<meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
		<title>Michał Skorus | Portfolio</title>
    <meta name="description" content="Discover Michał Skorus’ innovative projects and expert services in web development. Explore his portfolio and insightful articles to see how his expertise can elevate your business.">
    <script is:inline>
      var isDarkMode = function() {
        return localStorage.theme === 'dark' || (!('theme' in localStorage) && window.matchMedia('(prefers-color-scheme: dark)').matches);
      }
      var initTheme = function(){
        if (isDarkMode()) {
          document.documentElement.setAttribute('data-theme-dark', "")
        } else {
          document.documentElement.removeAttribute('data-theme-dark')
        }
      }
      initTheme();
    </script>
    {import.meta.env.PROD && (
      <GoogleAnalytics />
    )}
    <HCaptcha />
	</head>
	<body>
    <slot/>
	</body>
</html>
