---
import BaseLayout from "../layouts/BaseLayout.astro"
---

<BaseLayout>
  <aside>
    <header>
      <nav>
        <ul>
          <li><a href="#home">HOME</a></li>
          <li><a href="#about">About</a></li>
          <li><a href="#skills">SKILLS</a></li>
        </ul>
      </nav>
    </header>
  </aside>
  <main>
    <h1>Astro</h1>
    <slot/>
  </main>
  <footer class="">Footer</footer>
</BaseLayout>
