---
import Footer from "src/components/Footer.astro"
import Header from "../components/Header.tsx"
import BaseLayout from "../layouts/BaseLayout.astro"
---

<BaseLayout>
  <Header client:only="react" />
  <main class="lg:pl-[30%]">
    <slot/>
  </main>
  <Footer />
</BaseLayout>
