---
import Footer from "src/components/Footer.astro";
import Header from "../components/Header.tsx";
import BaseLayout from "../layouts/BaseLayout.astro";
import CirclesUnionDesktop from "src/components/CirclesUnionDesktop.astro";
import { cn } from "src/utils";

type Props = {
  title?: string;
  showFooter?: boolean;
  canonicalURL: string;
};

const { title="Michał Skorus | Web Developer Portfolio", showFooter = true, canonicalURL } = Astro.props;
---

<BaseLayout title={title} canonicalURL={canonicalURL}>
  <Header client:only="react" />
  <main class="lg:pl-[30%]">
    <slot/>
  </main>
  {showFooter && <Footer />}
  <div class={
    cn(
      "absolute hidden top-[100vh] right-0 w-[600px] h-[600px] translate-x-1/2 translate-y-[-50%] content-['']",
      "lg:block")
  }>
    <CirclesUnionDesktop />
  </div>

</BaseLayout>
