---
import Header from "../components/Header.tsx"
import BaseLayout from "../layouts/BaseLayout.astro"
---

<BaseLayout>
  <Header client:only />
  <main class="lg:pl-[30%]">
    <slot/>
  </main>
</BaseLayout>
